#external {
	color: yellow;
}

#footer {
	color: black;
}

/*Universal Selector*/
* {
	font-family: "Courier-New", sans-serif;
	font-size: 20px;
}


/*Type selector*/
h1 {
	font-size: 50px;
}

/*Id selector*/
#description {
	text-transform: uppercase;
}

/*class selector*/
.languages {
	background-color: yellowgreen;
}

/*attribute selector*/
li[title] {
	bborder-width: 1px;
	border-style: solid;
	border-color: skyblue;
}

/*adjacent sibling selector*/
img + ul {
	list-style: none;
}

/*descendant seelector*/
section img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

/*generic sibling selector*/
ul ~ p {
	text-align: center;
}

/*child selector*/
section > ul > li {
	letter-spacing: 10px;
}